*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.toDoList{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #273627, rgb(90, 181, 194));
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 600px;
    min-height: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: #7af5f1ad;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: azure;
    width: 70%;
    height: 35px;
    border-radius: 15px;
    margin: 20px;
    padding-left: 10px;
}

.row input{
    width: 100%;
    height: 35px;
    border-radius: 15px;
    background-color: transparent;
    border: none;
    outline: none;
}
.row button{
    width: 20%;
    height: 35px;
    border-radius: 15px;
    background: #1d6e7e;
    color: white;
    font-size: 1rem;
}
